.inputContainer {
    height: 50px;
    width: 300px;
    background-color: lightcyan;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inputContent {
    height: 40px;
    width: 240px;
    background-color: aqua;
}

.enterButton {
    display: block;
    height: 40px;
    width: 40px;
}